<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.oa.invoice.InvoiceDao">
    <update id="deleteInvoice">
        UPDATE t_oa_invoice
        SET deleted_flag = #{deletedFlag}
        WHERE invoice_id = #{invoiceId}
    </update>
    <select id="queryByAccountNumber"
            resultType="net.lab1024.sa.admin.module.business.oa.invoice.domain.InvoiceEntity">
        SELECT *
        FROM t_oa_invoice
        WHERE enterprise_id = #{enterpriseId}
        AND account_number = #{accountNumber}
        AND deleted_flag = #{deletedFlag}
        <if test="excludeInvoiceId != null">
            AND invoice_id != #{excludeInvoiceId}
        </if>
    </select>
    <select id="queryPage"
            resultType="net.lab1024.sa.admin.module.business.oa.invoice.domain.InvoiceVO">
        SELECT
        i.*,
        e.enterprise_name AS enterpriseName
        FROM t_oa_invoice i
        LEFT JOIN t_oa_enterprise e
        ON i.enterprise_id = e.enterprise_id
        <where>
            i.deleted_flag = #{queryForm.deletedFlag}
            <if test="queryForm.keywords != null and queryForm.keywords != ''">
                AND (INSTR(i.invoice_heads, #{queryForm.keywords})
                OR INSTR(i.account_number, #{queryForm.keywords})
                OR INSTR(i.create_user_name, #{queryForm.keywords}))
            </if>
            <if test="queryForm.startTime != null">
                AND DATE_FORMAT(i.create_time, '%Y-%m-%d') >= #{queryForm.startTime}
            </if>
            <if test="queryForm.endTime != null">
                AND DATE_FORMAT(i.create_time, '%Y-%m-%d') &lt;= #{queryForm.endTime}
            </if>
            <if test="queryForm.disabledFlag != null">
                AND i.disabled_flag = #{queryForm.disabledFlag}
            </if>
            <if test="queryForm.enterpriseId != null">
                AND i.enterprise_id = #{queryForm.enterpriseId}
            </if>
        </where>
        <if test="queryForm.sortItemList == null or queryForm.sortItemList.size == 0">
            ORDER BY i.create_time DESC
        </if>
    </select>
    <select id="getDetail"
            resultType="net.lab1024.sa.admin.module.business.oa.invoice.domain.InvoiceVO">
        SELECT
            i.*,
            e.enterprise_name AS enterpriseName
        FROM t_oa_invoice i
                 LEFT JOIN t_oa_enterprise e
                           ON i.enterprise_id = e.enterprise_id
        WHERE i.invoice_id = #{invoiceId}
          AND i.deleted_flag = #{deletedFlag}
    </select>
</mapper>