<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.business.sales.order.dao.SalesOrderMatDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        t_sales_order_mat.sales_order_mat_id,
        t_sales_order_mat.mat_id,
        t_sales_order_mat.usage_amount,
        t_sales_order_mat.waste,
        t_sales_order_mat.production_qty,
        t_sales_order_mat.total_usage_without_waste,
        t_sales_order_mat.total_usage_with_waste,
        t_sales_order_mat.company_id,
        t_sales_order_mat.version,
        t_sales_order_mat.create_user_id,
        t_sales_order_mat.create_user_name,
        t_sales_order_mat.create_time,
        t_sales_order_mat.update_user_id,
        t_sales_order_mat.update_user_name,
        t_sales_order_mat.update_time,
        t_sales_order_mat.deleted_flag,
        t_sales_order_mat.bom_id
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.business.sales.order.domain.vo.SalesOrderMatVO">
        SELECT
        <include refid="base_columns"/>
        FROM t_sales_order_mat
    </select>


    <select id="findBySalesOrderId"
            resultType="net.lab1024.sa.admin.module.business.sales.order.domain.vo.SalesOrderMatVO">
        SELECT
        <include refid="base_columns"/>,
        t_base_mat.mat_no,t_base_mat.mat_name,t_base_mat.pro,
        t_base_color.color_id, t_base_color.color_name,t_base_mat.source_property,
        t_base_bom.product_code,
        t_base_bom.product_name,
        t_base_bom.product_color,
        t_sales_order.order_code,
        t_base_mat_cust.cust_id,
        t_base_cust.cust_name,
        t_base_mat_cust.price unitPrice
        FROM t_sales_order_mat t_sales_order_mat
        INNER JOIN t_sales_order t_sales_order ON t_sales_order_mat.sales_order_id = t_sales_order.sales_order_id
        INNER JOIN t_base_bom t_base_bom ON t_sales_order_mat.bom_id = t_base_bom.bom_id
        INNER JOIN t_base_mat t_base_mat ON t_sales_order_mat.mat_id = t_base_mat.mat_id
        LEFT JOIN t_base_color t_base_color ON t_base_mat.color_id = t_base_color.color_id
        LEFT JOIN t_base_mat_cust t_base_mat_cust ON t_base_mat.mat_id = t_base_mat_cust.mat_id AND
        t_base_mat_cust.master = 1
        LEFT JOIN t_base_cust t_base_cust ON t_base_mat_cust.cust_id = t_base_cust.cust_id
        WHERE t_sales_order_mat.sales_order_id = #{salesOrderId}
        and t_sales_order_mat.deleted_flag = 0
    </select>

    <update id="batchUpdateDeleted">
        update t_sales_order_mat set deleted_flag = #{deletedFlag}
        where sales_order_mat_id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update t_sales_order_mat
        set deleted_flag = #{deletedFlag}
        where sales_order_mat_id = #{salesOrderMatId}
    </update>

</mapper>
