<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.sa.admin.module.system.table.TableRoleDao">

    <!-- 查询结果列 -->
    <sql id="base_columns">
        t_table_role.table_role_id,
        t_table_role.table_id,
        t_table_role.role_id,
        t_table_role.columns,
        t_table_role.company_id,
        t_table_role.version,
        t_table_role.create_user_id,
        t_table_role.create_user_name,
        t_table_role.create_time,
        t_table_role.update_user_id,
        t_table_role.update_user_name,
        t_table_role.update_time,
        t_table_role.deleted_flag,
        t_table_role.employee_id
    </sql>

    <!-- 分页查询 -->
    <select id="queryPage" resultType="net.lab1024.sa.admin.module.system.table.domain.vo.TableRoleVO">
        SELECT
        <include refid="base_columns"/>
        FROM t_table_role
    </select>

    <select id="selectListByTableId" resultType="net.lab1024.sa.admin.module.system.table.domain.vo.TableRoleVO">
        SELECT
        <include refid="base_columns"/>,
        (
        SELECT GROUP_CONCAT(t_employee.actual_name SEPARATOR ',')
        FROM t_employee
        WHERE FIND_IN_SET(t_employee.employee_id, t_table_role.employee_id) > 0
        AND t_employee.deleted_flag = #{deletedFlag}
        ) AS actual_name
        FROM t_table_role
        <where>
            AND t_table_role.deleted_flag = #{deletedFlag}
            AND t_table_role.table_id = #{tableId}
        </where>
    </select>

    <update id="batchUpdateDeleted">
        update t_table_role set deleted_flag = #{deletedFlag}
        where table_role_id in
        <foreach collection="idList" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="updateDeleted">
        update t_table_role
        set deleted_flag = #{deletedFlag}
        where table_role_id = #{tableRoleId}
    </update>

</mapper>
